/**
 * @filename: table.css
 * @project: CSS-components
 * @description: CSS for tables: rows, cells, headers, etc;
 * @author: Steve George, steve@pagerange.com
 * @created_at: Mar 16, 2018
 * @updated_at: Mar 16, 2018
 * 
*/

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #cfcfcf;
    padding: 8px;

}

th {
    font-weight: 700;
}

caption {
    line-height: 2.5rem;
}
